http:
  port: 8080
admin:
  port: 9876
  hostname: localhost
apiEndpoints:
  api:
    host: localhost
    paths: '/ip'
    scopes:
      - 'viewip'
  get:
    host: localhost
    paths: '/get'
    scopes:
       - 'veiwget'
serviceEndpoints:
  httpbin:
    url: 'https://httpbin.org'
policies:
  - basic-auth
  - cors
  - expression
  - key-auth
  - jwt
  - jwtScopes
  - log
  - oauth2
  - proxy
  - rate-limit
pipelines:
  - name: getting-started
    apiEndpoints:
      - api
      - get
    policies:
    # Uncomment `key-auth:` when instructed to in the Getting Started guide.
      - jwt:
        - action:
            secretOrPublicKey: 'qwertyuiopasdfghjklzxcvbnm123456'
            checkCredentialExistence: false
      - jwtScopes:
          - action:
      #- key-auth:
      - proxy:
          - action:
              serviceEndpoint: httpbin 
              changeOrigin: true
